#btn {
  color: white;
  font-size: xx-large;
  font-weight: bold;
  border-color: black;
  background-color: red;
  border-radius: 100px;
  width: 200px;
  height: 200px;
}

#btn:hover {
  box-shadow: 0 5px 15px grey;
}
